p {
    color: var(--main-light);
    font-weight: 400;
    font-size: 12pt;
    font-family: 'Bodoni Moda', serif;

    margin-top: 0;
}

#content_about {
    position: absolute;
    right: 100px;
    top: 25vh;
    width: 800px;
    height: 500px;
    text-align: justify;

    column-count: 2;

    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;

    visibility: hidden; 
    opacity: 0;
    transform: translateY(50px);

    transition: opacity .2s .4s, transform .8s .4s;
}

@media only screen and (max-width: 1080px) {
    #content_about {
        right: calc(50% - 800px/2);
    }
}

@media screen and (max-width: 850px) {
    #content_about {
        columns: auto;
        width: 80vw;
        top: 17vh;
        right: calc(50% - 80vw/2);
    }
}
