.card {
	width: 300px;
    height: fit-content;
	background-color: #ffffff02;
	border-radius: 25px;
	transition: box-shadow 500ms;
    margin: 20px;
}

.card:hover {
	box-shadow: 0px 0px 20px #000000;
}

.card_image {
	border-radius: 25px;
	width: 100%;
}

.card_title {
	text-align: center;
	margin: 20px;
	font-family: 'Montserrat', serif;
	color: #000000;
	text-decoration: none;
}

.card_description {
	font-family: 'Montserrat', serif;
	color: #000000;
	font-weight: normal;
	padding: 20px;
	text-decoration: none;
}

.swiper-slide {
    width: fit-content;
    height: fit-content;
}

.inner_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 7px 10px var(--main-dark);
    z-index: 1;
    pointer-events: none;
}

#content_projects {
    position: absolute;
    left: 100px;
    top: 50%;
    width: 70%;
    height: fit-content;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);

    transition: opacity .4s .5s;
}

@media screen and (max-width: 1080px) {
    #content_projects {
        width: 100vw;
        top: 17vh;
        left: 50%;
        transform: translateX(-50%);
    }
}