/* CSS Document */
body {
	background-color: #121414;
}

#logo_long {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	max-width: 80%;
}

#scroll_arrow {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, 0%);
	width: 50px;
	max-width: 10%;
}